{% extends "base.html" %}

{% block title %}School Data Query{% endblock %}

{% block header %}School Data Query Tool{% endblock %}

{% block content %}
    <textarea id="query" rows="5" cols="80">SELECT school_name, location_city FROM school_data LIMIT 10</textarea>
    <br>
    <div class="btn-group">
        <button onclick="runQuery()">RUN QUERY</button>
        <button onclick="exportQuery()">EXPORT QUERY</button>
        {# <button onclick="openDialog()">SHOW HEADERS</button> #}
    </div>
    <div id="results"></div>
    <dialog>
        <p>Greetings, one and all!</p>
        <button onclick="closeDialog()">OK</button>
    </dialog>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}